/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: Stolzl-Medium;
  src: url(../fonts/Stolzl-Medium.woff);
}

@font-face {
  font-family: Stolzl-Regular;
  src: url(../fonts/Stolzl-Regular.woff);
}

body {
  font-family: Stolzl-Regular;
  font-size: 16px;
  background: linear-gradient(269.85deg, #fcfaf7 56.99%, #f4f2ed 101.12%);
}

.navbar {
  display: flex;
  padding: 2rem 12rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav_brand {
  font-family: Stolzl-Medium;
  font-size: 2.4em;
}

.navbar .nav_brand span {
  color: #44a58a;
}

.nav_menu .nav_list {
  display: flex;
}

.nav_menu .nav_list .nav_item {
  margin-left: 2rem;
}

.nav_menu .nav_list a {
  color: black;
  transition:  all 200ms ease-out;
}

.nav_menu .nav_list a:hover {
  color: #44a58a;
  transition:  all 200ms ease-in;
}


.nav_register {
  border-radius: 37px;
  border: 3px solid #d9d9d9;
  padding: 0.5rem 0;
  transition: all 300ms ease-out;
}

.nav_register:hover {
  background-color: #44a58a;
  border: 3px solid #44a58a;
  transition: all 300ms ease-in;
}

.nav_register a {
  color: black;
  padding: 0.5rem 1rem;
  transition: all 300ms ease-out;
}

.nav_register a:hover {
  color: white;
  transition: all 200ms ease-in;
}

/* Hero */
.hero {
  display: flex;
  margin: 0 12rem;
  flex: row;
}

.hero .content {
  margin-top: 3rem;
}

.hero .content h1 {
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
}

.hero .content h1 span {
  color: #44a58a;
}

.hero .content .desc {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #8f8f8f;
  max-width: 56%;
  margin-top: 2rem;
}

.hero_button {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 2rem;
}

.hero_button a {
  color: black;
  transition:  all 200ms ease-out;
}

.hero_button .watch:hover {
  color: #44a58a;
  transition:  all 200ms ease-in;
}

.hero_button .trial {
  color: white;
  padding: 1rem 1.2rem;
  background-color: #44a58a;
  border-radius: 40px;
  margin-right: 2rem;
  font-weight: 500;
  transition:  all 200ms ease-out;
}

.hero_button .trial:hover {
  opacity: .8;
  transition:  all 200ms ease-in;
}

.hero_button .icon {
  font-size: 20px;
}

.scroll-down {
  margin-top: 4rem;
  font-size: 24px;
}

.scroll-down a {
  color: black;
  transition:  all 200ms ease-out;
}

.scroll-down a:hover {
  color: #44a58a;
  transition:  all 200ms ease-in;
}

.mascot .man img {
  height: 550px;
}

.mascot .rectangle {
  position: absolute;
  width: 470.42px;
  height: 388.34px;
  left: 778.66px;
  top: 155.26px;
  z-index: -1;

  background: linear-gradient(180deg, rgba(63, 137, 117, 0.31) 0%, rgba(210, 200, 185, 0.31) 75.31%);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 50px;
  transform: matrix(1, -0.21, -0.01, 0.98, 0, 0);
}

.mascot .scope {
  transform: scale(0.8);
  position: absolute;
  top: 300px;
  right: 650px;
}

.mascot .vr {
  transform: scale(0.8);
  position: absolute;
  top: 120px;
  right: 230px;
}

.mascot .book {
  transform: scale(0.8);
  position: absolute;
  top: 250px;
  right: 180px;
  z-index: -10;
}
